
.container {
    width: 1000px;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: bold;
    color: #14afca;
    text-align: center;
    margin-bottom: 27px;
}

.main-title-desc-black {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #424f57;
    margin-bottom: 40px;
}

.main-title-desc-white {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

.main-title-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #424f57;
}

/*HEADER ====================*/

.landing-header {
    background-image: url(../img/img_bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.landing-header::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 1000px;
    bottom: 0;
    border-color: transparent transparent transparent #ffffff;
}

.landing-header::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 1000px;
    border-color: transparent transparent #ffffff transparent;
    bottom: 0;
    right: 0;
}

.landing-header-nav {
    position: relative;
    top: 30px;
    padding: 47px 0 47px;
    background-color: #ffffff;
}

.landing-header-nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing-header-logo-link {
    text-decoration: none;
    color: #424f57;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: lighter;
}

.logo-color-blue {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #14afca;
    text-transform: uppercase;
    font-weight: bold;
}

.landing-header-nav-list {
    position: relative;
    top: 3px;
}

.landing-header-nav-link {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #424f57;
    text-decoration: none;
    margin-left: 57px;
}

.landing-header-nav-link:hover {
    color: #14afca;
}

.landing-header-text {
    padding: 165px 0 165px;
}

.landing-header-text-title {
    font-family: 'Roboto', sans-serif;
    font-size: 52px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

/*LANDING WHAT? =====================*/

.landing-what {
    padding: 111px 0 111px;
    position: relative;
}

.landing-what::after {
    content: '';
    padding-top: 5%;

    background: linear-gradient(to right top, transparent 49.5%, rgb(255, 255, 255) 50%) left / 50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 49.5%, #ffffff 50%) right / 50.025% 100% no-repeat;

    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
    z-index: 1;
}

.landing-what-text {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #424f57;
    line-height: 1.8;
}

/*LANDING COMPANIES =======================*/

.landing-companies {
    padding: 117px 0 135px;
    background-image: url(../img/img_bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.landing-companies::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 1000px;
    bottom: 0;
    border-color: transparent transparent transparent #ffffff;
}

.landing-companies::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 1000px;
    border-color: transparent transparent #ffffff transparent;
    bottom: 0;
    right: 0;
}

.landing-companies-brands {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}


/*LANDING MEET US ========================= */

.landing-meet-us {
    padding: 117px 0 170px;
    position: relative;
}

.landing-meet-us-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 40px;
}

.landing-meet-us::after {
    content: '';
    padding-top: 5%;

    background: linear-gradient(to right top, transparent 49.5%, rgb(255, 255, 255) 50%) left / 50.025% 100% no-repeat,
    linear-gradient(to left top, transparent 49.5%, #ffffff 50%) right / 50.025% 100% no-repeat;

    position: absolute;
    top: 100%;
    left: 2px;
    right: 2px;
    z-index: 1;
}

.landing-brand-img {
    margin-bottom: 20px;
}

.landing-meet-us-card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #424f57;
    line-height: 1.7;
}

/*LANDING TESTIMONIALS ========================= */

.landing-testimonials {
    padding: 170px 0 170px;
    background-image: url(../img/img_bg3.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.landing-testimonials::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100px 0 0 1000px;
    bottom: 0;
    border-color: transparent transparent transparent #ffffff;
}

.landing-testimonials::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 1000px;
    border-color: transparent transparent #ffffff transparent;
    bottom: 0;
    right: 0;
}

.landing-testimonials-blockquote {
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.landing-testimonials-blockquote-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #d3cccc;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing-testimonials-blockquote-author {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
    color: #ffffff;
    padding: 20px 120px 0 0;
}

/*LANDING WHY FOOTER ========================= */

.landing-why {
    padding: 117px 0 150px;
}

.landing-why-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    color: #424f57;
    margin-bottom: 20px;
}

.landing-why-footer-desc {
    padding: 117px 0 0;
}

.landing-why-footer-text-first {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3d3c3c;
    margin-bottom: 10px;
    font-weight: bold;
}

.landing-why-footer-text-second {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #3d3c3c;
    font-weight: bold;
}

.footer-text-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #212020;
}